.block {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-right: 80px;
}

.block_string {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 620px;
}


@media (max-width: 768px) {
  .block {

  }

  .block_string {
    width: 320px;
  }
}
