.row {
  display: flex;
  justify-content: space-between;
}

.text_block {
  display: flex;
  align-items: center;
}

.question_title {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.answer_title {
  font-family: "MegaFon Graphik LC";
  color: #333;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.sub_title {
  line-height: 16px;
  color: #a0a0a0;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.title_question {
  margin-right: 50px;
}
.title_answer {
  margin-right: 66px;
}

.arrow {
  display: inline-block;
}
