.container {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

@media (min-width: 576px) {
  .container {
    width: 620px;
  }
}

@media (min-width: 768px) {
  .container {
    margin-top: 88px;
  }
}
