 /* @font-face {
  font-family: "MegaFon Graphik LC";
  src: url("https://static.figma.com/webfont/1/Inter-SemiBold.woff2?v=3.10"); 
}  */

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

body {
  padding: 36px 16px 56px 16px;
}

@media (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: space-around;
  }
  body {
    padding: 0;
  }
}
